#root {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    padding-left: 2vw;
    padding-top: 1vw;
}

.star {
    cursor: pointer;
    height: 3vw;
    width: 3vw;
    margin: 2px;
    display: inline-block;
    background-color: grey;
    clip-path: polygon(
        50% 0%,
        63% 38%,
        100% 38%,
        69% 59%,
        82% 100%,
        50% 75%,
        18% 100%,
        31% 59%,
        0% 38%,
        37% 38%
    );
}

.star.selected {
    background-color: red;
}

.star-rating p {
    display: block;
}

.color-card {
    display: inline-block;
    width: 45vw;
    padding-right: 2vw;
    padding-top: 2vw;
}

.color-card h1 {
    font-size: 2vw;
    display: inline;
}

.color-card button {
    font-size: 1.5vw;
    float: right;
}

.color-form input[type="text"] {
    font-size: 2.5vw;
    width: 70vw;
    height: 6vw;
    margin-right: 1vw;
    vertical-align: bottom;
}

.color-form input[type="color"] {
    height: 6vw;
    width: 6vw;
    margin-right: 1vw;
    vertical-align: bottom;
}

.color-form button {
    width: 10vw;
    height: 6vw;
    font-size: 2vw;
    vertical-align: bottom;
}
